@{
    ViewData["Title"] = "Home Page";
    ViewData["Today"] = DateTime.Now;
}
<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        <a class="nav-link text-uppercase dropdown-toggle" href="#" data-bs-toggle="dropdown">football</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item text-capitalize">international friendlies</a></li>
            <li><a class="dropdown-item text-capitalize">worldcup</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link text-uppercase dropdown-toggle" href="#" data-bs-toggle="dropdown">basketball</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item">NBA</a></li>
            <li><a class="dropdown-item">NCAA Division 1 National Championship</a></li>
            <li><a class="dropdown-item">KBL</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link text-uppercase">baseball</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase">tennis</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase">soccer</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase">golf</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase">hockey</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link text-uppercase dropdown-toggle" href="#" data-bs-toggle="dropdown">mma</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">UFC Fight Night</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link text-uppercase">boxing</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase active">esports</a></li>
</ul>

<div>
    <div class="alert alert-info mt-3 alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Latest News</h4>
        <p>Stay updated with the latest news and updates in the world of sports. From thrilling match highlights to exclusive interviews, we've got you covered.</p>
        <button accesskey="$" type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>E-Sports <a href="https://learn.microsoft.com/aspnet/core">Your ultimate sports and entertainment arena </a>.</p>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="text-bg-dark p-3 mb-2 w-50 rounded">
                    <small class="text-uppercase">news page: @ViewData["Today"]</small>
                </div>
                <div class="text-bg-dark p-3 mb-3 w-75 rounded">
                    <small class="text-uppercase">popular news: world cup</small>
                </div>
                <div class="card w-100">
                    @* <h2 class="text-uppercase">special event</h2>
                    <p>Don't miss out on our exclusive coverage of the latest sports events, bringing you the most thrilling moments and in-depth analysis.</p> *@
                    <img src="~/images/buzznow-logo-main.png" class="card-img-top" alt="Popular News Image">
                    <div class="card-body text-bg-dark">
                        <small class="text-uppercase">world cup 2026</small>
                        <h2 class="text-uppercase">world cup 2026 kicks off this fall</h2>
                        <ul class="breadcrumb">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">June 11, 2026</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)" class="text-decoration-none">Football</a></li>
                    </ul>
                        <p>2026 world cup kicks off with Mexico vs South Africa as the tournament opener.</p>
                    </div>
                </div>
                <div class="mt-2 p-3 text-bg-dark rounded">
                    <div class="row">
                        <div class="col">
                            <div class="ratio ratio-4x3">
                                <iframe class="rounded" src="https://player.pbs.org/viralplayer/3059605297/" allowfullscreen allow="encrypted-media"></iframe>
                            </div>
                        @* <div class="pbs-viral-player-wrapper" style="position: relative; padding-top: calc(56.25% + 43px);"><iframe src="https://player.pbs.org/viralplayer/3059605297/" allowfullscreen allow="encrypted-media" style="position: absolute; top: 0; width: 100%; height: 100%; border: 0;"></iframe></div> *@
                        </div>
                        <div class="col">
                           <small class="text-uppercase">documentary</small>
                           <h3>Muhammad Ali in his prime</h3>
                           <p>Muhammad Ali brings to life one of the most indelible figures of the 20th century, a three-time heavyweight boxing champion who captivated millions of fans across the world with his mesmerizing combination of speed, grace, and power in the ring, and charm and playful boasting outside of it. Ali insisted on being himself unconditionally and became a global icon and inspiration to people everywhere.</p>
                        </div>
                    </div>
                </div>
                <div class="text-bg-dark mt-2 p-3 rounded">
                    <div class="row">
                        <div class="col">
                            <img src="~/images/i_worldcup.jpg" class="img-thumbnail h-100" />
                        </div>
                        <div class="col">
                            <small class="text-uppercase">espn</small>
                            <h3>England release 2026 World Cup kits: 'New era for the Three Lions'</h3>
                            <p>England have released their latest home and away kits ahead of the 2026 World Cup in a launch that they have said signifies "a new era for The Three Lions."</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-3 col col-lg-9">
            <div class="text-bg-dark p-3">
                <small class="text-uppercase">search news</small>
            </div>
            <div class="input-group mt-3 mb-3">
                <input type="text" class="form-control" placeholder="Search news..." aria-label="Search news" aria-describedby="button-search">
                <button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
            </div>
            <div class="text-bg-dark mb-3 p-3">
                <small class="text-uppercase">social media</small>
                <div class="row mt-3">
                    <div class="col">
                        <a class="btn btn-outline-secondary"><i class="bi bi-twitter"></i> Twitter</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-secondary"><i class="bi bi-google"></i> Google</a>
                    </div>
                </div>
               <div class="row mt-2">
                   <div class="col">
                        <a class="btn btn-outline-secondary"><i class="bi bi-facebook"></i> Facebook</a>
                   </div>
                   <div class="col">
                        <a class="btn btn-outline-secondary"><i class="bi bi-youtube"></i> Youtube</a>
                   </div>
               </div>
               <div class="row mt-2">
                   <div class="col">
                        <a class="btn btn-outline-secondary"><i class="bi bi-instagram"></i> Instagram</a>
                   </div>
                   <div class="col">
                     <a class="btn btn-outline-secondary"><i class="bi bi-rss"></i> RSS Feed</a>
                    </div>
               </div>
            </div>
            <div class="text-bg-dark p-3">
                <small class="text-uppercase">games survey</small>
            </div>
            <div class="card mt-3">
                    <div class="card-body text-bg-dark">
                        <h5 class="card-title" accesskey="">Which games of the world cup are you more concerned about?</h5>
                        <small>Top teams to qualify from group stages</small>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 30%">30%</div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gameSurvey" id="option1" value="option1">
                            <label class="form-check-label" for="option1">
                                Football
                            </label>
                        </div>
                        <div class="form-check"accesskey="0">
                        <input class="form-check-input" type="radio" name="gameSurvey" id="option2" value="option2">
                        <label class="form-check-label" for="option2">
                            Basketball
                        </label>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>

<div class="text-bg-dark p-3">
    <div class="row">
        <div class="col">
            <h6>BuzzNow</h6>
            <p>Your ultimate sports and entertainment arena.</p>
            <p class="text-capitalize">our newsletter</p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-subscribe">
                <button class="btn btn-outline-secondary" type="button"><i class="bi bi-send"></i></button>
            </div>
        </div>
        <div class="col">
            <h6>Popular News</h6>
            <div class="row">
                <div class="col">
                    <img src="~/images//BUZZNOW-FOOTER-1.png" alt="hockey" class="img-thumbnail h-75" title="hockey club" />
                </div>
                <div class="col">
                    <h6>Hockey</h6>
                    <p>2026 Stanley Cup Finals: A thrilling showdown between the Colorado Avalanche and the Florida Panthers.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <h6>Other News</h6>
        </div>
        <div class="col">
            <h6>Twitter</h6>
        </div>
    </div>
</div>
